<div class="container">
  <div class="card">
    <div class="card-body">
      <%= form_with(model: client, class: "form") do |form| %>
        <% if client.errors.any? %>
          <div class="alert alert-danger">
            <h2><%= pluralize(client.errors.count,"Error(es) al guardar cliente") %></h2>
            <ul>
              <% client.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :nombre %>
          <%= form.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :edad %>
          <%= form.text_field :age, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.submit "Guardar", class: "btn btn-outline-success mt-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


